<%= paginate @questions =%>
<p>
  <%= link_to 'New question', new_question_path %>
  <br>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>
